# Dependências do Node.js
node_modules

# Pastas de build
build
dist

# Arquivos de configuração locais
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configurações do sistema
.DS_Store
Thumbs.db
